/* MOBILE */
@media (max-width: 749px) {
    html {
        font-size: 14px;
    }

    .gallery-img {
        width: 170px;
        cursor: pointer;
        gap: 10px;
        border-radius: 10px;
        transition: box-shadow .1s;
    }
    
    .gallery-img:hover {
        box-shadow: -4px -5px 17px 4px #bac6d7ad;
    }

    .main-layout {
        width: 515px;
        margin-inline-end: auto;
        margin-inline-start: auto;
    }

    .main-header {
        padding: 0 20px;
        width: 535px;
    }

    .edit-container {
        flex-direction: column;
        align-items: center;
    }

    .edit-container .edited-meme {
        margin-bottom: 20px;
        background-color: #00000000;
    }

    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .main-nav {
        flex-direction: column;
        color: var(--clr2);
        position: fixed;
        right: 0;
        top: 0;
        background-image: var(--clr3);
        opacity: .9;
        height: 100vh;
        border-inline-start: 5px solid rgb(54, 42, 42);
        min-width: 200px;
        cursor: pointer;
        transition: transform 0.4s, box-shadow 0.4s;
        transform: translateX(100%);
    }
    
    .main-nav li{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body.menu-opened .main-nav {
        box-shadow: -4px -5px 17px 4px #bac6d7ad;
        transform: translateX(0);
    }

    body.menu-opened .main-screen {
        opacity: 1;
        pointer-events: auto;
    }
    
    .main-header .main-nav li {
        padding: 20px;
        border-bottom: 1px solid rgb(61, 58, 58);
        transition: background-color .2s ;
        
    }
    
    .main-header .main-nav li:hover {
        background-color: whitesmoke;
    }
    
    footer.main-footer {
     display: none;
    }
}


/* MEDIUM */
@media (min-width: 750px) {
    html {
        font-size: 0.8em;
    }

    .main-layout {
        max-width: var(--medium);
        margin-inline-end: auto;
        margin-inline-start: auto;
    }

    .gallery-img {
        width: 200px;
        cursor: pointer;
        border-radius: 15px;
        transition: box-shadow .1s;
    }
    .gallery-img:hover {
        box-shadow: -4px -5px 17px 4px #bac6d7ad;
    }

    .editing-features {
        margin-left: 15px;
    }

    .social-links a {
        padding: 0 10px;
        margin: 0;
    }
    .main-header .main-nav li {
        cursor: pointer;
        font-weight: 500;
        line-height: 2rem;
        padding: 0 10px;
        margin: 0 10px;
    }

    .toggle-menu{
        display: none;
    }

    .social-links{
        display: none;
    }
}

/* LARGE  */

@media (min-width: 1150px) {

    .main-layout {
        max-width: var(--large);
    }

    html {
        font-size: 1rem;
    }
    
    .social-links{
        display: flex;
    }
}