
/* FLEX */
.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.content-center {
    justify-content: center;
}
.flex.align-items {
align-items: center;
}

.flex.flex-column {
    flex-direction: column;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hide-element {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.icon {
    font-family: poppins-semi-bold;
    width: 2rem;
    height: 2rem;
}


