/* FILTER */

.filters-container .filter-keywords {
    justify-content: space-between;
    box-shadow: 0 3px 6px 1px #33be6de8;
    border-radius: 25px;
    background-color: gray;
    width: 450px;
    height: 100px;
    margin-bottom: 2rem;
    margin-top: .5rem;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /* color: var(--clr1); */
}


.filter-keywords button {
    font-family: dyna;
    color: aliceblue;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    padding: 1px;
    background-color: gray;
    border-style: none;
    transition: background-color .2s 
}

.filter-keywords button:hover {
    background-color: #33be6d;
}

.filter-keywords .funny {
    font-size: 32px;
}

.filter-keywords .animal {
    font-size: 16px;
}

.filter-keywords .men {
    font-size: 28px;
}

.filter-keywords .actor {
    font-size: 12px;
}

.filter-keywords .cute {
    font-size: 16px;
}



.filters-container {
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.filters-container .search-keyword-container {
    border-radius: 28px;
    background-color: var(--clr4);
    width: 350px;
    cursor: pointer;
    margin-bottom: 2rem;
    margin-top: .5rem;

}

.search-keyword-container .search-input {
    width: 300px;
    border-radius: 28px;
    align-items: center;
    background-color: var(--clr4);
    border: none;
    font-size: 1.3rem;
    color: var(--clr1);
}




.filters-container .more-btn {
    cursor: pointer;
    width: 5.5rem;
    height: 2.25rem;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    color: var(--clr1);
    border-radius: 18px;
    border: none;
    margin: 15px;
    font-size: 1.2rem;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    transition: box-shadow .1s;
}

.filters-container .more-btn:hover{
    box-shadow: -4px -5px 17px 4px #bac6d7ad;

}


.emogy-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
    background-color: lavenderblush;
    border-radius: 45px;
    text-align: center;
    margin-top: 10px;
}

.clouds-btns {
    justify-content: space-evenly;
    margin: 10px;
    gap: 10px;
}

.clouds-btns .btn {
    flex-basis: 33.3%;
    margin: 5px auto;
    padding: 5px 20px;
    border: none;
    border-radius: 15px;
    font-size: 1.1rem;
    cursor: pointer;
    color: #ffffff;
}

.clouds-btns .download-btn {
    box-shadow: 1px 6px 0 #632687, inset 0 5px 0 #e184e4;
    background-color: #8f44bb;

}

.clouds-btns .share-btn {
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #6198e0;
    background-color: #1e7cd3;
    text-decoration: none;
}

.clouds-btns .save-btn{
    box-shadow: 1px 6px 0 #3f7030, inset 0 5px 0 #51a05c;
    background-color: #55a763;
    text-decoration: none;
}

.clouds-btns .delete-btn {
    box-shadow: 1px 5px 0 #8c0606, inset 0 2px 0 rgba(185, 66, 66, 0.58);
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
    text-decoration: none;
    display: none;

}

.clouds-btns a:link {
    text-decoration: none;
    color: var(--clr1);  
}
.clouds-btns a:visited {
    text-decoration: none;
    color: var(--clr1);
}
.clouds-btns a:hover {
    text-decoration: none;
}