/* HEADER */

.main-header {
    background-image: var(--clr3);
    color: #ffffff;
    font-size: 1.3rem;
    height: 4.3rem;
    border-radius: 2.1rem;
    padding: 0 80px;
    margin-bottom: 10px;
}




.main-header .main-nav li:hover {
    background-color: var(--clr2);
    color: var(--clr6);
    border-radius: 1.25rem;
}

/* MAIN-SCREEN */
.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007a;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s;
    pointer-events: none;
}

.toggle-menu {
    background-color: var(--clr1);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
}
