/* HEADER */

.main-header {
    background-image: var(--clr3);
    color: #ffffff;
    font-size: 1.3rem;
    height: 4.3rem;
    border-radius: 2.1rem;
    padding: 0 2em;
    margin-bottom: 20px;
}


.logo {
    /* background: url("../../img/logo/LOGO.png");
    background-position:  center;
    background-size: cover;
    width: 15rem;
    height: 2.7rem;
    margin-top: .1em; */
    margin-bottom: .1rem;
    margin-top: .1rem;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #fff;
    font-size: 2.5rem;
    line-height: 2rem;
    font-style: normal;
    text-align: left;
    font-weight: 900;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.main-header .main-nav li:hover {
    color: var(--clr4);
    border-radius: 1.25rem;
    transition: .4s;
}

/* MAIN-SCREEN */
.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007a;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s;
    pointer-events: none;
    
}

.toggle-menu {
    background-color: var(--clr1);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
}

.social-links {
    gap: 5px;
    margin: 0;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links img:hover {
    box-shadow: 0px 0px 7px 4px #33be6d;
    transition: .2s;
}

.social-links img {
    height: 2.2rem;
    width: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    transition: .4s;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 5px;
}